/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;1,500;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.central_container {}

.central_container .central_container-header {
    width: 100vw;
    height: 45vw;
    background-image: url("./assets/imgs/img_header.png");
    background-size: 100% 100%;
    background-position: center;
    padding: 56px 6vw 0;
    position: relative;
}

.central_container .central_container-header .central_container-header-navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.central_container .central_container-header .central_container-header-navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}


.central_container .central_container-header .central_container-header-navbar ul li {
    margin-right: 16px;
}


.central_container .central_container-header .central_container-header-navbar ul li:nth-child(1) img {
    width: 20vw;
}

.central_container .central_container-header .central_container-header-navbar div i:nth-child(1) {
    margin-right: 24px;
}

.central_container .central_container-header .central_container-header-navbar div i:nth-child(3) {
    display: none;
    font-size: 24px;
}

.central_container h3 {
    margin-top: 160px;
    font-size: 45px;
    width: 35%;
}

.central_container .central_container-header .central_container-header-trial {
    width: 88vw;
    height: 280px;
    background-image: url("./assets/imgs/Mobile.png");
    background-size: 105% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -140px;
}

.central_container .central_container-header .central_container-header-trial h4 {
    font-size: 46px;
    font-style: normal;
    color: #fff;
    font-weight: 700;
}

.central_container .central_container-header .central_container-header-trial p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    width: 460px;
    text-align: center;
    margin-top: 15px;
}

.central_container .central_container-header .central_container-header-trial button {
    padding: 8px 16px;
    border: none;
    border-radius: 32px;
    color: #fff;
    background-color: #FF753A;
    margin-top: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}